{
    "env": {
        "browser": true,
        "node": true
    },
    "ecmaFeatures": {
        "jsx": true
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "no-trailing-spaces": [2, {
            "skipBlankLines": true
        }]
    },
    "globals": {
        "io": true
    }
}